:root {
}

/*  */
* {
  box-sizing: border-box;
}

/*  */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans KR", sans-serif;
}

/*  */
.layout-1 {
  /* width : 1200px; */
  /* margin : 0 auto; */

  /* 
        1920px - 1200px = 720px
        720px/2 = 360px
        360px을 vw로 변환 = 18.75vw;
    */
  padding: 0 18.75vw;
}

/*  */
.wrapper {
}
/* .wrapper *{border:1px solid;} */

/*  */
.wrapper > header {
  height: 60px;
}
.wrapper > header > .top-header {
}

.wrapper > header > nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom:1px solid; */

  position: relative;
}

.wrapper > header > nav > * {
  height: 100%;
  width: 100%;
}
.wrapper > header > nav > .left {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.wrapper > header > nav > .center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.wrapper > header > nav > .center > .mainmenu {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.wrapper > header > nav > .center > .mainmenu > li {
  height: 60px;
  padding: 0 20px;
  /* border: 1px solid; */
  opacity: 0.8;
}
.wrapper > header > nav > .center > .mainmenu > li > a {
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.wrapper > header > nav > .center > .mainmenu > li:hover {
  border-bottom: 3px solid;
  opacity: 1;
}

.wrapper > header > nav > .center > .mainmenu > li > .submenu {
  /* border: 1px solid; */

  /* display:none; */

  visibility: hidden;
  height: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  background-color: beige;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 3px solid;
}
.wrapper > header > nav > .center > .mainmenu > li > .submenu > li {
  padding: 0;
  border: 1px solid;
  position: relative;
}
.wrapper > header > nav > .center > .mainmenu > li > .submenu > li > a {
  display: block;

  font-size: 1rem;
  font-weight: 600;
  padding: 5px 0;
  display: flex;
  justify-content: left;
  align-items: start;
}

.wrapper > header > nav > .center > .mainmenu > li > .submenu > li > ul {
  position: relative;
  left: 0;
  top: 0px;
  width: 100%;
}
.wrapper
  > header
  > nav
  > .center
  > .mainmenu
  > li
  > .submenu
  > li
  > ul
  > li
  > a {
  display: block;
  padding: 10px 0;
  font-size: 0.9rem;
  color: rgb(91, 90, 90);
}

.wrapper > header > nav > .center > .mainmenu:hover .submenu {
  visibility: visible;
  height: 450px;
  transition: 0.4s;
  z-index: 5;
  overflow: hidden;
}
.wrapper > header > nav > .center > .mainmenu > li:hover .submenu {
}
.wrapper > header > nav > .center > .mainmenu > li:hover .submenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.wrapper > header > nav > .center > .mainmenu > li:nth-child(2):hover .submenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.wrapper > header > nav > .center > .mainmenu > li > a {
  position: relative;
}
.wrapper
  > header
  > nav
  > .center
  > .mainmenu
  > li
  > a
  > .material-symbols-outlined {
  font-size: 1rem;
}

.wrapper > header > nav > .right {
  width: 250px;

  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

/*  */
.wrapper > main {
}
.wrapper > main > section {
  border: 1px solid;
}

/* banner */
.wrapper > main > section:nth-child(1) {
  position: relative;
  height: 400px;
  width: 100%;
}
.wrapper > main > .banner > .slide-block {
}
.wrapper > main > .banner > .slide-block > .slide-wrapper {
}
.wrapper > main > .banner > .slide-block > .slide-wrapper > .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper > main > .banner > .slide-block > .slide-wrapper > .item > .text {
  width: 420px;
  height: 400px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper > main > .banner > .slide-block > .slide-wrapper > .item > .image {
  width: calc(100% - 420px);
  height: 400px;
  border: 1px solid;
}
.wrapper
  > main
  > .banner
  > .slide-block
  > .slide-wrapper
  > .item
  > .image
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */

.wrapper > main > section:nth-child(2) {
  height: 150px;
}
.wrapper > main > section:nth-child(2) > ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.wrapper > main > section:nth-child(2) > ul > li {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 15px;
  border: 1px solid;
}
.wrapper > main > section:nth-child(2) > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper > main > section:nth-child(2) > ul > li > a > span {
}

.wrapper > main > section:nth-child(3) {
  /* height : 1080px; */
}
.wrapper > main > section:nth-child(3) > .head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper > main > section:nth-child(3) > .head > .left {
}
.wrapper > main > section:nth-child(3) > .head > .right {
}

.wrapper > main > section:nth-child(3) > .body {
  height: 1030px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.wrapper > main > section:nth-child(3) > .body > .item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid;
}

.wrapper > main > section:nth-child(4) {
  height: 500px;
}
.wrapper > main > section:nth-child(4) > .head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper > main > section:nth-child(4) > .head > .left {
}
.wrapper > main > section:nth-child(4) > .head > .right {
}

.wrapper > main > section:nth-child(4) > .body {
  height: calc(100% - 50px);
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 32px;
}
.wrapper > main > section:nth-child(4) > .body > .item {
  width: calc(100% / 2 - 32px);
  height: 100%;
  border: 1px solid;
}

.wrapper > main > section:nth-child(5) {
  height: 400px;
}

.wrapper > main > section:nth-child(5) > .head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper > main > section:nth-child(5) > .head > .left {
}
.wrapper > main > section:nth-child(5) > .head > .right {
}

.wrapper > main > section:nth-child(5) > .body {
  height: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.wrapper > main > section:nth-child(5) > .body > .item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid;
}

/*  */
.wrapper > footer {
  height: 300px;
}
