:root {
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

.wrapper {
}
.wrapper > header {
  height: 100px;
}
.wrapper > main {
}
.wrapper > main > section {
  width: 100%;
  min-height: 800px;
  border: 1px solid;

  display: flex;
}
.wrapper > main > section > aside {
  width: 200px;
  height: 100vh;
  border-right: 1px solid;
  margin-right: 15px;
  padding: 20px;
}
.wrapper > main > section > article {
  width: 100%;
  height: 100%;
  height: 100vh;
  padding: 20px;

  position: relative;
}
.wrapper > main > section > article > ul {
}
.wrapper > main > section > article > ul > li {
}
.wrapper > main > section > article > ul > li > a {
  display: block;
}
.wrapper > footer {
}

.todo-item {
  width: 300px;
  height: 300px;
  border: 1px solid;

  position: absolute;
  background-color: lightgray;
  z-index: 5;
}
